* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

h1 {
  font-size: 200%;
  letter-spacing: 1px;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}
h3 {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  font-size: 250%;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex: 1 0 100%;
}

.nav-link {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
  z-index: 1;
}

.nav-link:hover {
  color: #fff;
}
.about {
  padding: 20px 100px;
}
.about h2 {
  margin-bottom: 5px;
  text-align: center;
}

.about p {
  line-height: 25px;
  padding: 13px;
}

.works {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.works-header {
  margin-bottom: 1rem;
}

.works-wrapper img {
  padding: 1.25rem;
}

.works-wrapper {
  position: relative;
  text-align: center;
}

/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  width: 150px;
  left: 300px;
  background-color: #13293d;
  color: white;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-big {
  width: 35rem;
  height: 11.25rem;
}

.contact {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}
.contact-info {
  float: left;
  width: 33.33%;
  font-size: 150%;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
  margin-top: 5%;
}

@media only screen and (max-width: 860px) {
  header {
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: column;
    flex: 0 1 auto;
  }
}

@media screen and (max-width: 720px) {
  /* nav {
    padding: auto;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 8px;
    justify-content: center;
  } */
}
